@font-face{
    font-family: "gl";
    src:url("../font/경기천년제목OTF_Light.woff") format("truetype");
}
@font-face{
    font-family: "gb";
    src:url("../font/경기천년제목OTF_Bold.woff") format("truetype");
}
@font-face{
    font-family: "gm";
    src:url("../font/g_titleOTF_Medium.woff") format("truetype");
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    vertical-align: top;
}
li{
    list-style: none;
}

#wrap{
    display: flex;
    flex-direction: column;
    font-family: 'gl';
}

.header{
    width: 100%;
    height: 22px;
    display: flex;
    justify-items:center; 
    align-content: center;
    padding: 10px 0;
}

.header_wrap{
    width: 80%;
    margin: 0 auto;
    display: flex;

}

.logo{
    width: 165px;
    height: 22px;
    margin: 0 auto;
    
}

.logo img{
    height: 22px;
}

nav{
    display: none;
}

.gnb li a{
    display: block;
    height: 32px;
    text-align: center;
    transition: 0.5s;
}

.gnb li a:hover{
    transform: translateY(-10px);
    color: red;
}


.contents_section{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.contents_title_box{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'gl';
}

.sub_tit{
    font-size: 15px;
    color: #535353;
    font-family: 'gm';
}

.main_tit{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: #3e3e3e;
    font-family: 'gm';
}

.main_tit h3{
    font-size: 35px;
}


.contents_red{
    background: url(../images/sub_yomo_bg.png);
    background-size: cover;
    background-position: 120px;
    width: 100%;
    height: auto;    
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contents_box{
    font-family: 'gm';
    font-size: 20px;
    
}

.contents_icon{
    width: 100%;    
    margin: 0 auto;
    margin-top: 100px;
}

.contents_icon img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.contents_red_text{
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contents_red_text span{
    text-align: center;
    font-size: 25px;
    font-family: 'gm';
    font-weight: 900;
    color: #222222;
    
    }

.contents_red_text p{
    font-family: 'gm';
    font-size: 17px;
    margin-top: 10px;
    color: #363636;
}

.contents_red_text strong{
    font-size: 20px;
    color: #222222;
}

.contents_blue{
    background: url(../images/sub_jomo_bg.png);
    background-size: cover;
    background-position: 120px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contents_icon{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.contents_icon img{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.contents_red_text{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 50px;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: #383838;
    padding-bottom: 50px;
}

.sns{
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 35px;
}


.sns li:first-child a{
    display: block;
    background-image: url(../images/sns.png);
    width: 40px;
    height: 35px;
    background-position: -10px;
}

.sns li:nth-child(2) a{
    display: block;
    background-image: url(../images/sns.png);
    width: 40px;
    height: 35px;
    background-position: -50px;
}

.sns li:nth-child(3) a{
    display: block;
    background-image: url(../images/sns.png);
    width: 40px;
    height: 35px;
    background-position: -90px;
}

.sns li:nth-child(4) a{
    display: block;
    background-image: url(../images/sns.png);
    width: 40px;
    height: 35px;
    background-position: -127px;
}

.contact{
    display: flex;
    flex-direction: row;
    width: 300px;
    color: white;
    justify-content: space-between;
    margin: 30px auto;
    font-weight: bold;
}

.contact li{
    width: 30%;
    text-align: center;
}

.footer p{
    color: white;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}



.quick_bar{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.quick_list{
    display: flex;
}

.quick_list li {
    margin: 0 auto;
    line-height: 50px;
    width: 100%;
    text-align: center;
    background-color: #999;
    color: #fff;
}

.quick_list li:hover{
    background-color: #e59f9f;
    color: white;
}


@media all and (min-width: 768px){    
    .quick_bar{
        display: none;
    }
    
    nav{
        display: flex;
        width: 50%;
    }
    .gnb{
        display: flex;
    }
    
    
    .gnb{
        width: 100%;
    }
    
    .gnb li{
        width: 20%;
    }
    
    .header{
        width: 100%;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        background-color: white;
    }
    
    .header_wrap{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .logo{
        margin: 0;
    }
    
    .main_bg{
        margin-top: 42px;
    }
    
    .contents_section{
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-top: 100px;
    }
    
    .contents_title_box{
        position: absolute;
        display: flex;
           
    }
    
    .contents_box{
        display: flex;
        flex-flow: row;
        width: 100%;
    }
    
    .quick_bar{
        display: none;
    }
}

@media all and (min-width: 1024px){
    
    
    .contents_section{
        padding-top: 150px;
    }
    
    .sub_tit{
        font-size: 21px;
        color: #535353;
        font-family: 'gm';
    }

    .main_tit{
        display: flex;
        flex-direction: column;
        font-size: 35px;
        color: #3e3e3e;
        font-family: 'gm';
    }

    .main_tit h3{
        font-size: 50px;
    }
    
    .contents_red_text span{
    text-align: center;
    font-size: 38px;
    font-family: 'gm';
    font-weight: 900;
    color: #222222;
    
    }

    .contents_red_text p{
        font-family: 'gm';
        font-size: 20px;
        margin-top: 10px;
        color: #363636;
    }

    .contents_red_text strong{
        font-size: 25px;
        color: #222222;
    }
    
    .contents_red{
        background-position: 120px;
    }
    
    .contents_blue{
        background-position: 120px;
    }
}


















