/*태블릿 사이즈 미디어쿼리*/
@media all and (max-width:768px) {
    /* 배경 */
    .sub_bg {
        height: 300px;
    }
    .sub_bg img {
        height: 100%;
        object-fit: cover;
    }
}

@media all and (min-width:768px){
    
	.way_section{
        position: relative;	
	}
    .traffic_select{
        width: 44.5%;
        position: absolute;
        z-index: 2;
    }
    
    .traffic_select li{
        width: 100%;
        margin: 0;
        position: relative;
        z-index: 2;
        border-bottom: 1px solid #4a4a49;
    }
	
	.find_box{
		display: flex;
        justify-content: space-between;
		flex-flow: row wrap;
		width: 91%;
		border: 0;
	}
	
	.input_box{
		margin: 0 auto;
		border: 0px solid black;
		width: 49%;
	}
	
	.start{
		display: flex;
		width: 100%;
		margin-top: 10px;
		
	}
	
	.arrival{
		display: flex;
		width: 100%;
		margin: 10px auto;
		
	}
	
	
	
	.board{
    	width: 100%;
    	display: flex;
		flex-flow: wrap;
    	margin: 0 auto;
    	width: 90%;
		margin-bottom: 50px;
	}

	.board li{
        width: 25%;
	}
    
    .board .tab_box:first-child,
    .board .tab_box:nth-child(2) {
        border-bottom: 0;
    }
    .board .tab_box:nth-child(2) {
        border-right: 1px solid #4a4a49;
        box-sizing: border-box;
    }
    .transportation_box{
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    
    
    .Pathways{
        display: flex;
        flex-flow: row;
        width: 100%;
    }
    
    .Pathways .contents_box{
        display: flex;
        flex-flow: row;
        width: 100%;
    }
    
    .iframe{
        display:flex;
        width: 100%;
        height: auto;
    }
    
    .Pathways_txt{
        display: flex;
        flex-flow: column;
        padding-left: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .divider{
        margin: 30px auto;
    }
    
    
}

/*PC 사이즈 미디어쿼리*/
@media all and (min-width:1200px) {
	
    
    .board li img{
        width: 100%;
        padding: 30px;
    
    }
    /*  지도  */
    .touring_box .map_pc {
        display: block;
    }
    .touring_box .map_m {
        display: none;
    }
}